<div class="row">
    <div class="col-md-4 contact-grid">
        <table class="table">
            <thead>
                <tr>
                    <th width="20%" class="header">
                        Name
                    </th>
                </tr>
            </thead>
            <tbody>
                <ng-container *ngFor="let contact of source">
                    <tr>
                        <td>
                            <a routerLink="/Contact-Detail" [state]="{ data : contact}">{{ contact.fullName }}</a>
                        </td>
                    </tr>
                </ng-container>
            </tbody>
        </table>
    </div>

</div>