.contact-detail{
    width: 50%;
    padding-top: 50px;
}

.contact-data{
    width: 80%;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}

img{
    width: inherit;
}

.container-detail{
    justify-content: center;
}