<div class="row container-detail">
    <div class="col-md-4">
        <img src="../../../assets/image/avatar.png">
    </div>
    <div class="col-md-4 contact-detail">
        <div class="card" style="width: 18rem;">
            <div class="card-body contact-data">
                <h5 class="card-text">{{ contact.fullName }}</h5>
                <h5 class="card-text">{{ contact.addressLine1 }}</h5>
                <h5 class="card-text">{{ contact.addressLine2 }}</h5>
                <h5 class="card-text">{{ contact.city }}</h5>
                <h5 class="card-text">{{ contact.state }}</h5>
                <h5 class="card-text">{{ contact.emailAddress }}</h5>
                <h5 class="card-text">{{ contact.telePhoneNumber }}</h5>
            </div>
        </div>
    </div>
</div>